# Load data

Mount drive

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

Data path

In [0]:
path = "/content/drive/My Drive/ML With python /Final/machine.data.txt"

In [0]:
import pandas as pd
data = pd.read_csv(path, sep=",", header = None)

Data info

In [0]:
data.shape

(209, 10)

In [0]:
data.head()

         0        1    2     3      4    5   6    7    8    9
0  adviser    32/60  125   256   6000  256  16  128  198  199
1   amdahl   470v/7   29  8000  32000   32   8   32  269  253
2   amdahl  470v/7a   29  8000  32000   32   8   32  220  253
3   amdahl  470v/7b   29  8000  32000   32   8   32  172  253
4   amdahl  470v/7c   29  8000  16000   32   8   16  132  132

In [0]:
data.tail()

          0              1    2     3     4   5  6   7   8   9
204  sperry           80/8  124  1000  8000   0  1   8  42  37
205  sperry  90/80-model-3   98  1000  8000  32  2   8  46  50
206  sratus             32  125  2000  8000   0  2  14  52  41
207    wang         vs-100  480   512  8000  32  0   0  67  47
208    wang          vs-90  480  1000  4000   0  0   0  45  25

In [0]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209 entries, 0 to 208
Data columns (total 10 columns):
0    209 non-null object
1    209 non-null object
2    209 non-null int64
3    209 non-null int64
4    209 non-null int64
5    209 non-null int64
6    209 non-null int64
7    209 non-null int64
8    209 non-null int64
9    209 non-null int64
dtypes: int64(8), object(2)
memory usage: 16.5+ KB

# Prepare data

Choose features for training

In [0]:
data.columns = ["vendor name", "Model Name", "MYCT", "MMIN", "MMAX", "CACH", 'CHMIN', 'CHMAX', 'PRP', 'ERP']
data.head()

  vendor name Model Name  MYCT  MMIN   MMAX  CACH  CHMIN  CHMAX  PRP  ERP
0     adviser      32/60   125   256   6000   256     16    128  198  199
1      amdahl     470v/7    29  8000  32000    32      8     32  269  253
2      amdahl    470v/7a    29  8000  32000    32      8     32  220  253
3      amdahl    470v/7b    29  8000  32000    32      8     32  172  253
4      amdahl    470v/7c    29  8000  16000    32      8     16  132  132

In [0]:
features = data.drop("ERP",1)
features.head()

  vendor name Model Name  MYCT  MMIN   MMAX  CACH  CHMIN  CHMAX  PRP
0     adviser      32/60   125   256   6000   256     16    128  198
1      amdahl     470v/7    29  8000  32000    32      8     32  269
2      amdahl    470v/7a    29  8000  32000    32      8     32  220
3      amdahl    470v/7b    29  8000  32000    32      8     32  172
4      amdahl    470v/7c    29  8000  16000    32      8     16  132

In [0]:
value = data["ERP"]

In [0]:
value.head()

0    199
1    253
2    253
3    253
4    132
Name: ERP, dtype: int64

In [0]:
features = pd.get_dummies(features)
features

     MYCT  MMIN  ...  Model Name_vs-100  Model Name_vs-90
0     125   256  ...                  0                 0
1      29  8000  ...                  0                 0
2      29  8000  ...                  0                 0
3      29  8000  ...                  0                 0
4      29  8000  ...                  0                 0
..    ...   ...  ...                ...               ...
204   124  1000  ...                  0                 0
205    98  1000  ...                  0                 0
206   125  2000  ...                  0                 0
207   480   512  ...                  1                 0
208   480  1000  ...                  0                 1

[209 rows x 246 columns]

Slipt data into train set and test set

In [0]:
from sklearn.model_selection import train_test_split  
X_train, X_test, y_train, y_test = train_test_split(features, value, test_size=0.30, random_state=1)

# Decision Tree

In [0]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import accuracy_score

In [0]:
# Create decision tree regressor object
model1 = DecisionTreeRegressor()
# Train model
model1.fit(X_train, y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=None, splitter='best')

In [0]:
print("The Train/ Score is: ", model1.score(X_train,y_train)*100,"%")
print("The Test/ Score accuracy is: ", model1.score(X_test,y_test)*100,"%")

The Train/ Score is:  100.0 %
The Test/ Score accuracy is:  89.30253303949655 %

# Random forest

In [0]:
from sklearn.ensemble import RandomForestRegressor

In [0]:
rrf1 = RandomForestRegressor(n_estimators=155)
# Train model
model = rrf1.fit(X_train, y_train)

In [0]:
print("The Train/ Score is: ", model.score(X_train,y_train)*100,"%")
print("The Test/ Score accuracy is: ", model.score(X_test,y_test)*100,"%")

The Train/ Score is:  98.5732090824762 %
The Test/ Score accuracy is:  91.00838296388544 %

In [0]:
import numpy as np
for i,x in (enumerate(np.flip(data["vendor name"].unique()))):
    print(i,x)

0 wang
1 sratus
2 sperry
3 siemens
4 prime
5 perkin-elmer
6 nixdorf
7 ncr
8 nas
9 microdata
10 magnuson
11 ipl
12 ibm
13 honeywell
14 harris
15 hp
16 gould
17 four-phase
18 formation
19 dg
20 dec
21 cambex
22 cdc
23 c.r.d
24 burroughs
25 bti
26 basf
27 apollo
28 amdahl
29 adviser

In [0]:
import numpy as np
for i,x in (enumerate(np.flip(data["Model Name"].unique()))):
    print(i,x)

0 vs-90
1 vs-100
2 32
3 90/80-model-3
4 80/8
5 80/6
6 80/5
7 80/4
8 80/3
9 1100/94
10 1100/93
11 1100/84
12 1100/83
13 1100/82
14 1100/81
15 1100/61-h1
16 7.881-2
17 7.880-2
18 7.875-2
19 7.872-2
20 7.870-2
21 7.865-2
22 7.561
23 7.551
24 7.541
25 7.536
26 7.531
27 7.521
28 50-850-ii
29 50-750-ii
30 50-550-ii
31 50-250-ii
32 50-2250
33 3230
34 3210
35 3205
36 8890/70
37 8890/50
38 8890/30
39 v8670
40 v8665
41 v8655
42 v8650
43 v8635
44 v8595:ii
45 v8585:ii
46 v8575:ii
47 v8565:ii-e
48 v8565:ii
49 v8555:ii
50 v8545:ii
51 v8535:ii
52 as/9060
53 as/9040
54 as/9000-n
55 as/9000-dpc
56 as/8060
57 as/8050
58 as/8040
59 as/7000-n
60 as/7000
61 as/6650
62 as/6630
63 as/6620
64 as/6150
65 as/6130
66 as/5000-n
67 as/5000-e
68 as/5000
69 as/3000-n
70 as/3000
71 seq.ms/3200
72 m80/44
73 m80/43
74 m80/42
75 m80/32
76 m80/31
77 m80/30
78 4480
79 4460
80 4446
81 4445
82 4443
83 4436
84 8140
85 8130-b
86 8130-a
87 4381-2
88 4381-1
89 4361-5
90 4361-4
91 4341-9
92 4341-2
93 4341-12
94 4341-11
95 4341-10
96 4341-1
97 4341
98 4331-2
99 4331-11
100 4331-1
101 4321
102 38/8
103 38/7
104 38/5
105 38/4
106 38/3
107 370/158-3
108 370/148
109 370/125-2
110 3083:e
111 3083:b
112 3081:d
113 3081
114 3033:u
115 3033:s
116 dps:8/20
117 dps:8/62
118 dps:8/52
119 dps:8/50
120 dps:8/49
121 dps:8/44
122 dps:7/65
123 dps:7/55
124 dps:7/45
125 dps:7/35
126 dps:6/96
127 dps:6/92
128 dps:6/35
129 800
130 80
131 700
132 600
133 500
134 300
135 100
136 3000/iii
137 3000/88
138 3000/64
139 3000/48
140 3000/44
141 3000/40
142 3000/30
143 concept:32/8780
144 concept:32/8750
145 concept:32/8705
146 2000/260
147 f4000/300ap
148 f4000/300
149 f4000/200ap
150 f4000/200
151 f4000/100
152 eclipse:mv/8000-ii
153 eclipse:mv/8000
154 eclipse:mv/6000
155 eclipse:mv/4000
156 eclipse:mv/10000
157 eclipse:m/600
158 eclipse:c/350
159 vax:11/780
160 vax:11/750
161 vax:11/730
162 microvax-1
163 decsys:20:2060
164 decsys:10:1091
165 1651-1
166 1641-11
167 1641-1
168 1636-10
169 1636-1
170 omega:480-iii
171 omega:480-ii
172 omega:480-i
173 cyber:170/845
174 cyber:170/835
175 cyber:170/825
176 cyber:170/815
177 cyber:170/760
178 cyber:170/750
179 universe:68/37
180 universe:68/137
181 universe:68/05
182 universe:68
183 universe:2203t
184 68/10-80
185 b6925
186 b6900
187 b5920
188 b5900
189 b4955
190 b2925
191 b2900
192 b1955
193 8000
194 5000
195 7/68
196 7/65
197 dn420
198 dn320
199 580-5880
200 580-5860
201 580-5850
202 580-5840
203 470v/b
204 470v/7c
205 470v/7b
206 470v/7a
207 470v/7
208 32/60

In [0]:
#Encode X_new
#[['amdahl','470v/7b',29,8000,32000,32,8,32,172] 
# 'amdahl' =28; 470v/7b =250

#['sperry','1100/83',50,2000,32000,112,52,104,307]]
# sprerry=2; 1100/83 = 12

X_new = np.array([[28,250,29,8000,32000,32,38,2,172],[2,12,50,2000,32000,112,52,104,307]])

In [0]:
type(X_new)

numpy.ndarray

In [0]:
rrf1.predict(X_new)

ValueError: ignored