In [2]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
path = "/content/drive/My Drive/ML With python /Final/penbased-5an-nn.csv"

In [0]:
import pandas as pd
data = pd.read_csv(path)

In [6]:
data.shape

(10991, 17)

In [7]:
data.head()

    0   57   31   68   72   90   100  ...   50   51   28   25   16    0   1
0  99   80   63  100   25   76    79  ...   97   23   54    0    0   16   9
1   0   73   19   99   72  100    70  ...    5   18   46    0  100   72   2
2  12   77   20   62   78   40    50  ...    0   64   23   98  100  100   5
3   0   98   36   42   80   85    68  ...   25   23   50   37  100   32   7
4  29   91    6   57   66   39    30  ...    3   72   39   97  100  100   5

[5 rows x 17 columns]

In [8]:
data.tail()

        0   57   31   68   72   90   100  ...   50   51   28   25   16   0   1
10986  86  100   38   80   12   51     0  ...  100   13   62   30    7  18   6
10987   0   92   48  100   76   74    70  ...   38    0   46   80  100  20   7
10988   0   82   26   98   59  100    67  ...   49   27   65    6   15   0   2
10989   5   90   55  100   78   84    90  ...  100   23   52    5    0   0   3
10990   0   74   35  100  100   85    94  ...    0   11    5    0   77   6   2

[5 rows x 17 columns]

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10991 entries, 0 to 10990
Data columns (total 17 columns):
0         10991 non-null int64
 57       10991 non-null int64
 31       10991 non-null int64
 68       10991 non-null int64
 72       10991 non-null int64
 90       10991 non-null int64
 100      10991 non-null int64
 100.1    10991 non-null int64
 76       10991 non-null int64
 75       10991 non-null int64
 50       10991 non-null int64
 51       10991 non-null int64
 28       10991 non-null int64
 25       10991 non-null int64
 16       10991 non-null int64
 0        10991 non-null int64
 1        10991 non-null int64
dtypes: int64(17)
memory usage: 1.4 MB

In [10]:
feature = data.iloc[:,:-1]
feature

        0   57   31   68   72   90   100  ...   75   50   51   28   25   16    0
0      99   80   63  100   25   76    79  ...   62   97   23   54    0    0   16
1       0   73   19   99   72  100    70  ...   48    5   18   46    0  100   72
2      12   77   20   62   78   40    50  ...   17    0   64   23   98  100  100
3       0   98   36   42   80   85    68  ...    0   25   23   50   37  100   32
4      29   91    6   57   66   39    30  ...   19    3   72   39   97  100  100
...    ..  ...  ...  ...  ...  ...   ...  ...  ...  ...  ...  ...  ...  ...  ...
10986  86  100   38   80   12   51     0  ...    0  100   13   62   30    7   18
10987   0   92   48  100   76   74    70  ...    9   38    0   46   80  100   20
10988   0   82   26   98   59  100    67  ...   53   49   27   65    6   15    0
10989   5   90   55  100   78   84    90  ...   51  100   23   52    5    0    0
10990   0   74   35  100  100   85    94  ...   35    0   11    5    0   77    6

[10991 rows x 16 columns]

In [17]:
target = data.iloc[:,-1]
target

0        9
1        2
2        5
3        7
4        5
        ..
10986    6
10987    7
10988    2
10989    3
10990    2
Name:  1, Length: 10991, dtype: int64

In [0]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(feature,target,test_size=0.3,random_state=14)

In [0]:
from sklearn.ensemble import RandomForestClassifier

In [0]:
ran = RandomForestClassifier(n_estimators = 200, random_state=42)

In [0]:
ran.fit(X_train,y_train)

y_pred = ran.predict(X_test)

In [23]:
print("The Training prediction accuracy is:",
ran.score(X_train,y_train)*100,"%")
print("The Testing prediction accuracy is:",
ran.score(X_test,y_test)*100,"%")

The Training prediction accuracy is: 100.0 %
The Testing prediction accuracy is: 97.36203759854457 %

==> Model hoạt động rất tốt.

In [0]:
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler

In [0]:
X_train_scaled=StandardScaler().fit_transform(X_train)
X_test_scaled=StandardScaler().fit_transform(X_test)

In [0]:
X_train_scaled=pd.DataFrame(X_train_scaled)
X_test_scaled=pd.DataFrame(X_test_scaled)

In [27]:
pca=PCA(0.95)
pca.fit(X_train_scaled)

PCA(copy=True, iterated_power='auto', n_components=0.95, random_state=None,
    svd_solver='auto', tol=0.0, whiten=False)

In [28]:
pca.n_components_

11

In [0]:
pca_train=pd.DataFrame(pca.fit_transform(X_train_scaled))
pca_test=pd.DataFrame(pca.fit_transform(X_test_scaled))

In [53]:
clf = RandomForestClassifier(n_estimators = 200, random_state=42)
clf.fit(pca_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=200,
                       n_jobs=None, oob_score=False, random_state=42, verbose=0,
                       warm_start=False)

In [0]:
y_pred = clf.predict(pca_test)

In [55]:
from sklearn.metrics import accuracy_score
print("Accuracy is ", accuracy_score(y_test,y_pred)*100,"%")

Accuracy is  77.2892662219527 %

==> Acc giảm đi rất nhiều sau khi áp dụng PCA => ko nên dùng PCA cho trường hợp này